.grid {
    display: flex;
    flex-direction: column;
    border: 1px solid #5D6468;
    background-color: #181A1B;
    transition-property: filter, rotate, scale, background-color;
    transition-duration: 1s;
    /* border: 10px solid green; */
}

.grid-row {
    display: flex;
    width: fit-content;
}

.grid-box {
    height: 20px;
    width: 20px;
    margin: 0px;
    padding: 0px;
    /* border: 1px solid white; */
}

.grid-box.food {
    background-color: orange;
}

.grid-box.snake {
    background-color: springgreen;
    /* margin: 1px; */
}

.grid-box.mine {
    background-color: grey;
}

.blur {
    filter: blur(20px);
    scale: 3;
    background-color: black;
}