.grid-box {
    width: 40px;
    height: 40px;
    border: 1px solid black;
}

.grid-row {
    display: flex;
}

.grid {
    margin: 50px auto;
    border: 1px solid black;
    width: fit-content;
}

.grid-box.empty {
    background-color: white;
}

.grid-box.food {
    background-color: orange;
}

.grid-box.snake {
    background-color: springgreen;
}