.grid {
    display: flex;
    flex-direction: column;
    border: 1px solid #8C8273;
    /* border: 10px solid green; */
}

.grid-row {
    display: flex;
    width: fit-content;
}

.grid-box {
    height: 20px;
    width: 20px;
    margin: 0px;
    padding: 0px;
    /* border: 1px solid white; */
}


.grid-box.empty {
    background-color: #181A1B;
}

.grid-box.food {
    background-color: orange;
}

.grid-box.snake {
    background-color: springgreen;
    /* margin: 1px; */
}