*,
::after*,
::before* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.App {
    width: 100%;
}