.direction-buttons {
    display: inline-block;
    margin: 10px auto;
}

button {
    background-color: #88949c;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #c6d5de;
}

.end-game-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.end-game-box>.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #a8beca;
}

.blur {
    filter: blur(10px);
}