.direction-buttons {
    display: inline-block;
    margin: 10px auto;
}

button {
    background-color: #7B7B7B;
    border: none;
    border-radius: 5px;
}

.end-game-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;
}